h1 {
text-align: center;
color: #32a852;
font-family: 'Courier New', Courier, monospace;
font-size: 100px;
font-weight: bold;
margin-left: 200px;
margin-right: 200px;
padding: 26px;
background-color: rgb(184, 230, 181);
}

.button-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: rgb(184, 230, 181)

}

.link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-align: center;
    color: #32a852;
    font-weight: lighter;
    background-color: rgb(217, 236, 216);
    padding: 16px;
}

.list {
    text-align: center;
    color: white;
    margin-top: 50px;
}